@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/MPLUSRounded1c-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/MPLUSRounded1c-Bold.woff2') format('woff2');
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  #__nuxt,
  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-white text-zinc-900  transition-colors dark:bg-zinc-900 dark:text-zinc-200;
  }
}
